In [11]:
# Importing the libraries
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [15]:
# Importing the dataset
df = pd.read_csv('/Users/meyer/Coding/Predicting tennis matches using ML/tennis_match_results/2024 Kopie.csv')
df.rename(columns=lambda x: x.strip(), inplace=True)
df.dropna(how='all', axis=1, inplace=True)
for column in df.columns:
    df[column] = df[column].str.strip()
df.head()

  ATP;Location;Tournament;Date;Series;Court;Surface;Round;Best of;Player 1;Player 2;WRank;LRank;WPts;LPts;Set 1 Player 1;Set 1 Player 2;Set 2 Player 1;L2;Set 3 Player 1;Set 3 Player 2;Set 4 Player 1;Set 4 Player 2;Set 5 Player 1;Set 5 Player 12;P1sets;P2sets
0  1;Brisbane;Brisbane International;31.12.23;ATP...
1  1;Brisbane;Brisbane International;31.12.23;ATP...
2  1;Brisbane;Brisbane International;01.01.24;ATP...
3  1;Brisbane;Brisbane International;01.01.24;ATP...
4  1;Brisbane;Brisbane International;01.01.24;ATP...

In [20]:
# Import data training model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

# Data Preprocessing
X = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)